@{
    ViewData["Title"] = "Complete Task";
}

@model Project2Mission8_S3G6.Models.Task
@*Make headers*@
<h2>Confirm Completion</h2>
<h3>Have you completed @Model.TaskName?</h3>

@*Delete function*@
<form method="post" asp-controller="Home" asp-action="Complete">
    <button type="submit">Yes</button>
    <a asp-controller="Home" asp-action="Quadrant" class="btn">No</a>

    <input type="hidden" asp-for="TaskId" />
</form>
