@{
    ViewData["Title"] = "Delete Task";
}

@model Project2Mission8_S3G6.Models.Task
@*Make headers*@
<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete @Model.TaskName?</h3>

@*Delete function*@
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Quadrant" class="btn">Cancel</a>

    <input type="hidden" asp-for="TaskId" />
</form>
