@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to Your Task Tracker</h1>
    <br />
    <h3> This web application allows you to create, display, edit and delete tasks. </h3>
    <br />
    <h3> See the 4 Quadrants from Covey's 7 Habits below </h3>
</div>
<div>
    <img src="~/img/4quads.png" />
</div>